@import '~@fluentui/react/dist/sass/References.scss';

.operationsManagement {
  width: 100%;
  min-height: 600px;
  background: $ms-color-neutralLighterAlt;
}

.container {
  height: 550px;
}

.galleryPanel {
  width: 350px;
  min-width: 350px;
  max-width: 350px;
  height: 550px;
}

.detailsPanel {
  height: 550px;
  background: $ms-color-white;
}

.comingSoon {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $ms-color-neutralSecondary;
  background: $ms-color-white;

  h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 8px 0;
  }

  p {
    font-size: 14px;
    margin: 0;
  }
}

.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: $ms-color-neutralSecondary;

  h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 8px 0;
  }

  p {
    font-size: 14px;
    margin: 0;
  }
}
